<header>
  <nav class="navbar">
    <span class="logo">Douglas4Developer</span>
    <ul class="nav-links">
      <li><a href="#about">Sobre</a></li>
      <li><a href="#projects">Projetos</a></li>
      <li><a href="#skills">Habilidades</a></li>
      <li><a href="#contact">Contato</a></li>
    </ul>
  </nav>
</header>

<section class="hero-section">
  <h1>Douglas Ferreira - Programador Pleno</h1>
  <p>Construindo soluções incríveis em Java, Angular, e muito mais</p>

  <div class="tech-icons">
    <i class="fab fa-java"></i>
    <i class="fas fa-network-wired"></i>
    <i class="fas fa-code"></i>
    <i class="fab brands fa-flutter"></i>
    <i class="fab fa-angular"></i>
    <i class="fab fa-react"></i>
    <i class="fab fa-html5"></i>
    <i class="fab fa-css3-alt"></i>
    <i class="fab fa-docker"></i>
    <i class="fab fa-git-alt"></i>
    <i class="fab fa-jenkins"></i> 
    <i class="fas fa-leaf"></i>
    <i class="fas fa-database"></i>
    <i class="fab fa-aws"></i>
    <i class="fas fa-fire"></i>
  </div>
  

  <button class="btn-primary" (click)="scrollToProjects()">Confira meus projetos</button>
</section>


<section id="about" class="about-section">
  <div class="about-content">
    <img src="assets/me.jpeg" alt="Douglas Ferreira" class="profile-pic">
    <div class="about-text">
      <h2>Sobre Mim</h2>
      <p>Olá! Eu sou o Douglas Ferreira, um desenvolvedor pleno com experiência em backend e frontend. Desde que me formei em Ciência da Computação pela PUC-GO, venho criando soluções de software robustas e escaláveis, focadas em resolver problemas reais com tecnologias modernas.</p>
      <p>Minhas principais áreas de atuação incluem Java, Spring Boot, Angular, e arquitetura de microsserviços.</p>
    </div>
  </div>
</section>



<section id="projects" class="projects-section">
  <h2>Meus Projetos</h2>
  <div class="projects-gallery">

    <!-- Projeto 1 -->
    <div class="project-card">
      <h3>Java Files Spring Angular</h3>
      <p>Este projeto implementa um mini sistema de arquivos virtuais com backend em Spring Boot e frontend em Angular.</p>
      <i class="fab fa-java"></i> <i class="fab fa-angular"></i> <i class="fab fa-spring"></i>
      <p><a href="https://github.com/Douglas4Developer/javafilesSpringAngular" target="_blank">Ver no GitHub</a></p>
    </div>

    <!-- Projeto 2 -->
    <div class="project-card">
      <h3>Java Cielo API</h3>
      <p>Breve integração com a API Sandbox da CIELO utilizando Angular e Spring Boot.</p>
      <i class="fab fa-java"></i> <i class="fab fa-angular"></i> <i class="fab fa-spring"></i>
      <p><a href="https://github.com/Douglas4Developer/javacieloapi" target="_blank">Ver no GitHub</a></p>
    </div>

    <!-- Projeto 3 -->
    <div class="project-card">
      <h3>FlutterFlow Finanças</h3>
      <p>Aplicação para organização de finanças pessoais, desenvolvida com FlutterFlow.</p>
      <i class="fab fa-flutter"></i> <i class="fab fa-dart"></i>
      <p><a href="https://github.com/Douglas4Developer/flutterflowFinancas" target="_blank">Ver no GitHub</a></p>
    </div>

    <!-- Projeto 4 -->
    <div class="project-card">
      <h3>Events SpringBoot AWS</h3>
      <p>Projeto Java utilizando Spring Boot e AWS para gerenciamento de eventos em nuvem.</p>
      <i class="fab fa-java"></i> <i class="fab fa-aws"></i> <i class="fab fa-spring"></i>
      <p><a href="https://github.com/Douglas4Developer/Events-SpringBoot-Aws" target="_blank">Ver no GitHub</a></p>
    </div>

    <!-- Projeto 5 -->
    <div class="project-card">
      <h3>Microservices Processos</h3>
      <p>Microsserviços para gerenciamento de processos judiciais usando Java Spring Boot, JUnit e Liquibase.</p>
      <i class="fab fa-java"></i> <i class="fab fa-docker"></i> <i class="fab fa-spring"></i>
      <p><a href="https://github.com/Douglas4Developer/microservices-processos-JavaSpringBoot" target="_blank">Ver no GitHub</a></p>
    </div>

    <!-- Projeto 6 -->
    <div class="project-card">
      <h3>Movie API</h3>
      <p>API para gerenciamento de filmes, desenvolvida com Java Spring Boot 3.</p>
      <i class="fab fa-java"></i> <i class="fab fa-spring"></i>
      <p><a href="https://github.com/Douglas4Developer/movieApi" target="_blank">Ver no GitHub</a></p>
    </div>

  </div>
</section>


<section id="skills" class="skills-section">
  <h2>Habilidades</h2>
  <div class="skills-grid">
    <div class="skill">
      <i class="fab fa-java"></i>
      <h3>Java</h3>
    </div>    
    <div class="skill">
      <i class="fab fa-angular"></i>
      <h3>Angular</h3>
    </div>
    <div class="skill">
      <i class="fab fa-react"></i>
      <h3>React</h3>
    </div>
    <div class="skill">
      <i class="fab fa-docker"></i>
      <h3>Docker</h3>
    </div>
    <div class="skill">
      <i class="fab fa-aws"></i>
      <h3>AWS</h3>
    </div>
    <div class="skill">
      <i class="fa-brands fa-flutter"></i>

      <h3>Flutter</h3>
    </div>
  </div>
</section>


<section id="contact" class="contact-section">
  <h2>Entre em Contato</h2>
  <p>Email: <a href="mailto:douglas8_ferreira@hotmail.com">douglas8_ferreira&#64;hotmail.com</a></p>
  <div class="social-icons">
    <a href="https://github.com/Douglas4Developer" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/douglas-soares-de-souza-ferreira/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
</section>

<footer>
  <p>© 2024 Douglas Ferreira. Todos os direitos reservados.</p>
</footer>
